* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.game-board{
    width: 100%;
    height: 500px;
    border-bottom: 10px solid rgb(6, 108, 15);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background:linear-gradient(#87CEE8, #E0F6FF);
}
.score{
    background-image: url('../images/placa-de-madeira.png');
    background-repeat: no-repeat;
    background-size: 150px;
    width: 150px;
    height: 300px;
    float: right;
    margin-right: 1%;
    padding-top: 33px;
    padding-left: 4.5%;
}

.label-score{
    width: 150px;
    font: 2em "Times New Roman", Times, serif;
    font-weight: bold;
}

.reset{
    z-index: 100;
}

.clouds{
    position: absolute;
    top: 0;
    width: 350px;
    right:-350px;    
}
.animate-clouds{
    animation: arbusto-animation 10s infinite linear;
}

.bunny{
    position: absolute;
    bottom: -30px;
    width: 350px;
}

.bunny-jump{
    animation: jump 500ms ease-out;
}

.arbusto{
    position: absolute;
    bottom: -40px;
    width: 150px;
    right: -150px;
}
.animate-arbusto-level-1{
    animation: arbusto-animation 1.3s infinite linear;
}
.animate-arbusto-level-2{
    animation: arbusto-animation 1.0s infinite linear;
}
.animate-arbusto-level-3{
    animation: arbusto-animation 0.9s infinite linear;
}

@keyframes nuvens-animation{
    from {
        right:0%;
    }

    to{
        right: 100%;
    }
}


@keyframes arbusto-animation{
    from {
        right:-150px;
    }

    to{
        right: 100%;
    }
}

@keyframes jump{
    0% {
        bottom: 0;
    }

    40% {
        bottom: 180px;
    }

    50% {
        bottom: 180px;
    }

    60% {
        bottom: 180px;
    }
    
    100% {
        bottom: 0px;
    }
}